h1 {
    font-weight: bold;
    color: blue;
}

#spinner-super-wrapper {
    display: none;
}
#spinner-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(17, 17, 17, 0.85)
  }
  
  #spinner {    
    width: 100px;
    height: 100px;
    opacity: 1;
    /* Safari */
    /*animation: spin 2s linear infinite;*/
  }
  