<div class="background">
  <div class="header">

  <img class="d-inline" src="/assets/images/p4p.png" width="100px" height="100px" />
  <h1 class="d-inline align-middle ps-3">PIXELS FOR PEACE NFTs</h1>
  <button
  type="button"
  class="btn d-inline homeButtons p-2 m-4"
  (click)="connectWallet()"
  *ngIf="!signer"
>
  Connect your Wallet
</button>
<div *ngIf="signer" class="information float-end d-inline  container">
  <p class="m-1">The last block on the network was: <span style="color: #aa44ee; font-weight: bold;">{{ lastNetworkBlock }}</span></p>
  <p >
  Wallet Connected: <span style="color: #aa44ee; font-weight: bold;">{{ walletAddress }}</span>
  </p>
</div>
  </div>
<div class="container">
  <div class="mt-4 mb-4">
  <a class="btn homeButtons d-inline" routerLink="/" routerLinkActive="active">View Sales</a>
<!-- </div> -->
      <!--
        <li>
        <a routerLink="/my-winnings" routerLinkActive="active">My Winnings</a>
      </li>
    -->
    
      <!-- <div *ngIf="salesFactoryContract"> -->
      <button *ngIf="signer"
        type="button"
        class="btn homeButtons ms-2 d-inline"
        routerLink="/sale/create"
      >
        Create Sale (Lottery or Auction)
      </button>
   
  </div>
  </div>

  <div id="spinner-super-wrapper">
    <div id="spinner-wrapper" class="align-items-center justify-content-center">
      <!--
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  https://stackoverflow.com/questions/42388989/bootstrap-center-vertical-and-horizontal-alignment
  -->
      <img
        id="spinner"
        class="align-items-center justify-content-center"
        src="/assets/images/money-spinner.gif"
        width="150px"
      />
    </div>
  </div>

  <router-outlet></router-outlet>
  <!--<app-messages></app-messages>-->
</div>
