<div class="container">
  <h1>{{ title }}</h1>
  <img src="/assets/images/p4p.png" width="100px" height="100px" />
  <p>Test: the last block on the network was: {{ lastNetworkBlock }}</p>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      <!--
        <li>
        <a routerLink="/my-winnings" routerLinkActive="active">My Winnings</a>
      </li>
    --></ul>
  </nav>

  <div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="connectWallet()"
      *ngIf="!signer"
    >
      Connect your Wallet
    </button>
    <button type="button" disabled class="btn btn-success" *ngIf="signer">
      Wallet Connected: {{ walletAddress }}
    </button>
  </div>
  <div *ngIf="signer">
    <!-- <div *ngIf="salesFactoryContract"> -->
    <button type="button" class="btn btn-primary" routerLink="/sale/create">
      Create Sale (Lottery or Auction)
    </button>
    <!-- </div> -->
    <div>Last block on network is: {{ lastNetworkBlock }}.</div>
  </div>
</div>

<div id="spinner-super-wrapper">
  <div id="spinner-wrapper" class="align-items-center justify-content-center">
    <!--
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  https://stackoverflow.com/questions/42388989/bootstrap-center-vertical-and-horizontal-alignment
  -->
    <img
      id="spinner"
      class="align-items-center justify-content-center"
      src="/assets/images/money-spinner.gif"
      width="150px"
    />
  </div>
</div>

<router-outlet></router-outlet>
<!--<app-messages></app-messages>-->
