h1 {
    font-weight: bold;
    color: blue;
}

img {
    border: 3px solid blue;
    border-radius: 8px;
}


.information {
    background-color: aqua;
}

.background {
    background-image: url("../assets/images/backgroundPFPresized.png");
}