
.color-success {
    color: green;
}
.color-error {
    color: red;
}

.component-box {
    background-color: #D9F9A5;
    border:3px solid #6d6c6c;
    width:fit-content;
    border-radius: 8px;

    margin-right: 50%;
}

div {
    margin-bottom:10px;

}

.saleButton {
    background-color: #F56476;
    border: 2px solid #6d6c6c;
}