<div class="container">
  <h3>Lottery Info</h3>
  <div *ngIf="signer" style="color: green">
    You are signed in: {{ walletAddress }}
  </div>
  <div *ngIf="!signer" style="color: red">You are NOT signed in</div>
  <div>
    Lottery contract addr is: {{ contract_addr }} <br />
    (Lottery Contract has {{ tokenBalanceOfContract }} of this token aka
    {{ tokenBalanceOfContractSmallerUnits }} units/cents)
  </div>
  <div>
    Lottery state is: {{ betsOpen ? "Open" : "Closed" }}
    <span *ngIf="closeLotteryUI" style="color: red"
      >(but can be Closed since date is passed)</span
    >
    <div *ngIf="closeLotteryUI">
      <span *ngIf="!signer"
        >Please Connect your Wallet to Close the Lottery</span
      >
      <button *ngIf="signer">Add Close Lottery button here</button>
    </div>
  </div>
  <p>betPrice is: {{ betPrice }}</p>
  <p>ownerPool (total amount to win) is at: {{ ownerPool }}</p>
  <p>
    closing time is
    {{ closingTime }} ({{ closingTimeDateLocalized?.toLocaleString() }})
  </p>
  <p>
    Maybe get preview image from MongoDB, since the JSON MetaData is private
    <img src="temp" />
  </p>
  <div class="actions">
    <div class="betTokens" *ngIf="signer && showBetUI">
      <!--*ngIf="signer and has > 0 tokens and date isn't closed yet and lottery still Open"-->
      <div>
        Bet {{ betPrice }} of {{ paymentToken }} (you have
        {{ tokenBalanceOfUser }} of this token aka
        {{ tokenBalanceOfUserSmallerUnits }} units/cents)
      </div>
      <button type="button" class="btn btn-primary" (click)="bet()">
        Click here to Bet
      </button>
      <div>
        <br />
        or place multiple bets:
        <br />
        <input
          #numberOfBets
          type="number"
          min="0"
          placeholder="Type an integer to multi-bet"
        />
        <button
          type="button"
          class="btn btn-primary"
          (click)="betMany(numberOfBets.value)"
        >
          Bet Many Times
        </button>
      </div>
    </div>
  </div>
</div>
