
<div class="container component-box">
  <h3 class="p-3">Create a Sale</h3>
  <div class="mb-2" *ngIf="signer" style="color: green">
    You are signed in: {{ walletAddress }}
  </div>
  <div *ngIf="!signer" style="color: red">You are NOT signed in</div>

  <div *ngIf="signer && created_contract_addr">
    You have created a new contract at
    <a
      routerLinkActive="active"
      routerLink="/sale/{{ saleForm.value.sale_type }}/{{
        created_contract_addr
      }}"
      >{{ created_contract_addr }}</a
    >
  </div>
  <div *ngIf="signer && !created_contract_addr">
    <form id="saleForm" [formGroup]="saleForm" (ngSubmit)="onSubmit(this)">
      <!-- <form id="saleForm" [formGroup]="saleForm" (ngSubmit)="onSubmitTest(this)"> -->
      <div class="mb-3">
        <label for="sale_name" class="form-label">Name of Sale: </label>
        <input
          class="form-control"
          id="sale_name"
          type="text"
          formControlName="sale_name"
        />
      </div>

      <div class="mb-3">
        <label for="sale_type" class="form-label">Type of Sale: </label><br />
        <input
          class="form-check-input"
          type="radio"
          formControlName="sale_type"
          value="lottery"
          (change)="onRadioChange($event)"
        />
        Lottery
        <input
          class="form-check-input"
          type="radio"
          formControlName="sale_type"
          value="auction"
          (change)="onRadioChange($event)"
        />
        Auction
      </div>

      <div
        class="mb-3"

        *ngIf="saleForm.value.sale_type == 'lottery'"
      >
        <div>
          <label for="bet_price" class="form-label">Bet Price: </label>
          <input
            class="form-control"
            id="bet_price"
            type="number"
            formControlName="bet_price"
          />
        </div>
      </div>

      <div

        class="mb-3"
    

        *ngIf="saleForm.value.sale_type == 'auction'"
      >
        <div>
          <label for="starting_bid" class="form-label">Starting Bid: </label>
          <input
            class="form-control"
            id="starting_bid"
            type="number"
            formControlName="starting_bid"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="sale_desc" class="form-label">Desc of NFT: </label>
        <br />
        <textarea
          class="d-block"
          id="sale_desc"
          type="text"
          formControlName="sale_desc"
          class="form-control"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="payment_token" class="form-label">Payment Token: </label>
        <input
          class="form-control"
          id="payment_token"
          type="text"
          formControlName="payment_token"
        />
      </div>
      <div class="mb-3">
        <label for="recipient_addr">Charity Address: </label>
        <input
          class="form-control"
          id="recipient_addr"
          type="text"
          formControlName="recipient_addr"
          placeholder="Enter your recipient's address, ex: 0x1234000000000000000000000000000000005678"
        />
      </div>

      <div>
        <label for="recipient_link">Link to the Charity Project:</label>
        <input
          class="form-control"
          id="recipient_link"
          type="text"
          formControlName="recipient_link"
        />
      </div>
      <div class="mb-3">
        <label for="sale_image">Upload the file used for the NFT: </label>

        <input
          class="form-control"
          id="sale_image"
          type="file"
          formControlName="sale_image"
          (change)="onFileChange($event)"
        />
        <img id="sale_image_preview" src="" width="200px" />
      </div>
      <div class="mb-3">
        <label for="closing_time" class="form-label"
          >Set a Closing Time for this Sale:
        </label>
        <input
          class="form-control"
          id="closing_time"
          type="datetime-local"
          formControlName="closing_time"
        />
      </div>

      <div class="mb-3">
        <em
          >Note: MetaData for NFT file will be generated automatically and sent
          to IPFS so no need to upload here.</em
        >
      </div>

      <div class="mb-3" *ngIf="saleForm.invalid">
        <p>Please fill all values</p>
      </div>
      <div class="mb-3" *ngIf="saleForm.valid">
        <p>You can submit now!</p>
      </div>

      <button
        type="submit"
        [disabled]="!saleForm.valid"
        class="btn btn-primary"
      >
        Submit to create new Sale
      </button>
    </form>
  </div>
  <div *ngIf="!signer" style="color: red">
    Please connect your crypto wallet to create a sale (by clicking the 'Connect
    Wallet' button above).
  </div>
</div>
