.component-box {
    background-color: #D9F9A5;
    border:3px solid #6d6c6c;
    width:fit-content;
    border-radius: 8px;
    margin-right: 50%;

}
.dynamic-lottery-auction-section {
    border: 1px solid black;
    padding: 10px;

}

div {
    margin-bottom: 5px;
}