# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Deploy backend to Azure

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: true
        default: "warning"

env:
  ## Sets environment variable
  BACKEND_DIRECTORY: app_backend
  PUBLISH_PROFILE: ${{ secrets.BACKEND_PUBLISH_PROFILE }}
  APP_NAME: pixelsforpeace-api
  SLOT_NAME: Production
  ENV_FILE: ${{ secrets.ENV_FILE }}

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./${{ env.BACKEND_DIRECTORY }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: "Create env file"
        run: |
          echo "${{ env.ENV_FILE }}" > .env

      - name: npm install and build for production
        run: |
          npm install --production
          npm run build --if-present

      - name: Zip all files for upload between jobs
        run: zip --symlinks -r nest.zip ./.env ./*

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: node-app
          path: ${{ github.workspace }}/${{ env.BACKEND_DIRECTORY }}/nest.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: "Production"
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: node-app

      - name: "Deploy to Azure Web App"
        uses: azure/webapps-deploy@v2
        id: deploy-to-webapp
        with:
          app-name: ${{ env.APP_NAME }}
          slot-name: ${{ env.SLOT_NAME }}
          publish-profile: ${{ env.PUBLISH_PROFILE }}
          package: nest.zip
